.dark {
  background-color: #080808 !important;
  color: #fff !important;
}
.light {
  background-color: #fff !important;
  color: #080808;
}
.app{
  display: flex;
  justify-content: center;
  padding-top: 8px;
  flex-direction: column;
  min-height: 100vh;
}
.chatbot-container {
  min-height: 80px;
  min-width: 100px;
  border-radius: 8px;
  padding: 16px;
}
.chatbot-messages {
  height: 400px;
  overflow: auto;
  padding: 8px;
}
.message {
  margin: 8px 0;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
}
.user-message {
  text-align: right !important;
}
.ai-message {
  text-align: start;
}
.chatbot-input-form {
  display: flex;
  margin-top: 1px;
}
.chatbot-input-form input {
  flex: 1;
  padding: 8px;
  border-radius: 4px 0 0 4px;
  font-size: 12px;
}
.chatbot-input-form button {
  padding: 8px 8px;
  border-radius: 0 4px 4px 0;
  font-size: 12px;
  cursor: pointer;
}